In [2]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
data_file_path = '/Users/emmyson/Resolvely/datasets/NCES Dataset.xlsx'

nces_dataset_excel = pd.read_excel(data_file_path, sheet_name= ['069 eap2022'])

In [4]:
df = nces_dataset_excel['069 eap2022']
df.head(10)

,UNITID,EAPCAT,OCCUPCAT,FACSTAT,XEAPTOT,EAPTOT,XEAPTYP,EAPTYP,XEAPMED,EAPMED,...,XEAPFTTY,EAPFTTYP,XEAPFTMD,EAPFTMED,XEAPPT,EAPPT,XEAPPTTY,EAPPTTYP,XEAPPTMD,EAPPTMED
0,100654,10000,100,0,R,975,R,975.0,A,NaN,...,R,739.0,A,NaN,R,236.0,R,236.0,A,NaN
1,100654,10010,100,10,R,377,R,377.0,A,NaN,...,R,266.0,A,NaN,R,111.0,R,111.0,A,NaN
2,100654,10020,100,20,R,89,R,89.0,A,NaN,...,R,87.0,A,NaN,R,2.0,R,2.0,A,NaN
3,100654,10030,100,30,R,46,R,46.0,A,NaN,...,R,45.0,A,NaN,R,1.0,R,1.0,A,NaN
4,100654,10040,100,40,R,242,R,242.0,A,NaN,...,R,134.0,A,NaN,R,108.0,R,108.0,A,NaN
5,100654,10042,100,42,R,242,R,242.0,A,NaN,...,R,134.0,A,NaN,R,108.0,R,108.0,A,NaN
6,100654,10050,100,50,R,286,R,286.0,A,NaN,...,R,246.0,A,NaN,R,40.0,R,40.0,A,NaN
7,100654,10060,100,60,R,312,R,312.0,A,NaN,...,R,227.0,A,NaN,R,85.0,R,85.0,A,NaN
8,100654,20000,200,0,R,374,R,374.0,A,NaN,...,R,263.0,A,NaN,R,111.0,R,111.0,A,NaN
9,100654,20010,200,10,R,364,R,364.0,A,NaN,...,R,253.0,A,NaN,R,111.0,R,111.0,A,NaN

In [5]:
df.dtypes

UNITID        int64
EAPCAT        int64
OCCUPCAT      int64
FACSTAT       int64
XEAPTOT      object
EAPTOT        int64
XEAPTYP      object
EAPTYP      float64
XEAPMED      object
EAPMED      float64
XEAPFT       object
EAPFT       float64
XEAPFTTY     object
EAPFTTYP    float64
XEAPFTMD     object
EAPFTMED    float64
XEAPPT       object
EAPPT       float64
XEAPPTTY     object
EAPPTTYP    float64
XEAPPTMD     object
EAPPTMED    float64
dtype: object

In [6]:
obj_col = list(df.select_dtypes('object'))
df.drop(obj_col, axis = 1, inplace = True)

In [7]:
df.shape

(291935, 13)

In [10]:
for col in df.columns:
    fig1 = plt.figure(figsize=(13,7)) # this is to rescale an image so that it is easier to read
    ax = sns.histplot(data=df, x=col)
    t1 = plt.xticks(rotation=45) # rotate the x-axis ticks labels